<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>麻将博客</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/css.css">
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <a href="/">
                <span class="sr-only">麻将博客</span>
                </a>
            </button>
            <a class="navbar-brand" href="/">麻将博客</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" th:if="${session.user !=null}">
                    <a class="dropdown-toggle" href="/publish">发布</a>
                </li>
                <li class="dropdown" th:if="${session.user !=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" th:text="${session.user.getName()}"><span class="caret">发布</span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>

                <li  th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=Iv1.81ddcf5b0e8bf454&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登录</a>
                </li>


            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3><span class="glyphicon glyphicon-list"aria-hidden="true"></span>发起 </h3>
            <hr>

            <div class="media" th:each="question: ${pageination}">
                <div class="media-left">
                    <a href="#"><img   id="media-object" th:src="${question.users.avatarurl}" class="img-rounded" style="width: 50px;height: 50px"/></a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"><span th:text="${question.commentcount}"></span>个回复
                    <span th:text="${question.viewcount}"></span>次浏览 <span th:text="${question.gmtcreate}">--></span></span>
                </div>

            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>热门话题</h3>
            *链接被作为按钮使用时的注意事项出现的一个 bug<br>
            *如果  元素被作为按钮使用 -- 并用于在当前页面<br>
            *面或链接当前页面中的其他部分，那么，务必为其<br>
            *我们总结的最佳实践是：强烈建议尽可能使用元其<br>
            *另外，我们还发现了 Firefox <30 版本的浏览器<br>
            *元素创建的按钮设置 line-height 属性，这就导<br>
        </div>
    </div>
</div>
</body>
</html>